.card-detail form {
    margin: 0px auto;
    width: 320px;
    background-color: #f4f9ff;
    height: 510px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    color: #f4f9ff;
}
  
.title-dt{
    background-color: transparent;
    position: absolute;
    margin: 15px 15px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #201a1c;
}
  
.nominal-dt{
    background-color: transparent;
    position: absolute;
    margin: 40px 15px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #309a8d;
}

.txtRate-dt{
    font-size:  16px;
    font-weight: bold;
    color: #34a898;
    position: absolute;
    margin: 95px 0px 0px 31px;
}
  
.txtNominal-dt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px 16px 50px;
    position: absolute;
    width: 289px;
    height: 54px;
    margin: 80px 15px 0px;
    background-color: transparent;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 10px;
}
  
.nom1-dt {
    background-color: transparent;
    position: absolute;
    text-align: center;
    width: 95px;
    height: 47px;
    margin: 145px 15px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 12px;
    color: #8a8aa0;
}
  
.nom2-dt {
    background-color: transparent;
    position: absolute;
    text-align: center;
    width: 88px;
    height: 47px;
    margin: 145px 116px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 12px;
    color: #8a8aa0;
}
  
.nom3-dt {
    background-color: transparent;
    position: absolute;
    text-align: center;
    width: 93px;
    height: 47px;
    margin: 145px 17px 0px 210px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 12px;
    color: #8a8aa0;
}
  
/*.metodP-dt {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #8a8aa0;
    position: absolute;
    width: 289px;
    height: 54px;
    margin: 204px 15px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 10px;
}*/
  
.txtName-dt {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    width: 289px;
    height: 54px;
    margin: 203px 15px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 10px;
}
  
.txtEmail-dt {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    width: 289px;
    height: 54px;
    margin: 268px 15px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 10px;
}

.txtRefCode-dt{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;
    width: 289px;
    height: 54px;
    margin: 333px 15px 0px;
    border: 1px solid #8a8aa0;
    box-sizing: border-box;
    border-radius: 10px;
}
  
.identity-dt {
    background-color: transparent;
    position: absolute;
    width: 206px;
    height: 16px;
    margin: 399px 15px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #8a8aa0;
}
  
.switch-dt {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
    margin: 399px 15px 0px 279px;
}
  
.switch-dt input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider-dt {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c6c6d4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider-dt:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: #8a8aa0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider-dt {
    background-color: #34a898;
}
  
input:focus + .slider-dt {
    box-shadow: 0 0 1px #34a898;
}
  
input:checked + .slider-dt:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: #ecf2fa;
}
  
/* Rounded sliders */
.slider-dt.round {
    border-radius: 10px;
}
  
.slider-dt.round:before {
    border-radius: 50%;
}

.payment-dt{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    width: 206px;
    height: 16px;
    margin: 0px 15px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #8a8aa0;
}

.payment-dt img{
    height: 15px;
    width: 90px;
}
  
.btnDonate-dt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 215px;
    height: 46px;
    margin: 10px 15px 0px;
    color: white;
    background: #e1004d;
    border: 0px solid #e1004d;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
  
.btnShare-dt {
    background-color: transparent;
    width: 66px;
    height: 46px;
    margin: 10px 15px 0px 239px;
    border: 1px solid #e1004d;
    border-radius: 12px;
    padding: 10px;
    color: #e1004d;
}

.btnShare-dt-icon{
    width: 20px;
    height: 20px;
    margin-top: 1px;
}
  