.NavbarItems{
    background: #F4F9FF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:  18px;
    position: relative;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    cursor:pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 20px;
}

.nav-links{
    color: #201A1C;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.nav-links:hover{
    color: #E1004D;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color:#8A8AA0;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:50px;
        left: -500px;
        opacity: 1;
        transition: all 0s ease;
    }

    .nav-menu.active{
        background:#F4F9FF;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 15px;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        color: #E1004D;
        border-radius: 4px;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0,50%)
    }
    
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,20%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #8A8AA0;
        font-size: 2rem;
    }
}